<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/reset-linksent.css" />

<title>Reset Link Sent | Autometa Corporation</title>
<link rel="shortcut icon" href="images/logo.png">
</head>
<body>
  
  <div class="logo-position">
  
    <img src="images/logo.png" height="65px" width="65px">

  </div>

  <div class="container">
    <h2>Reset your password</h2>
    
    <p>We have sent you an email on <b><%= emaildata %> </b><br>
    to reset your password. If it doesn't appear within a few minutes, <br>
    check your spam folder.   </p>

    <div class="form-wrap">



    <div>
        <a href="/login" class="btn btn-primary">Return to Login</a>
    </div>
   

  </div>



</body>
</html>
