<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/reset-emaillink.css" />
<title>Reset Your Password | Autometa Corporation</title>
<link rel="shortcut icon" href="images/logo.png">
</head>
<body>
  <form action="/reset-link" method="post">
  <div class="logo-position">
  
    <img src="images/logo.png" height="65px" width="65px">

  </div>

  <div class="container">
    <h2>Reset Your Password</h2>
    <p>Enter your user account's verified email address<br>
     and we will send you a password reset link</p>

    <div class="input-control">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        <!-- <label for="email">Email Address</label> -->
        <div class="error"></div>
    </div>
    
    <div>
      <div id="notification-toast" class="notification-toast"></div>
      <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
    </div>
   

  </div>

<script src="script.js"></script>
</form>
<script>
  const notificationContainer = document.getElementById('notification-toast');
 
  const message = '<%= message %>';
  const messageType ='<%= messageType %>';
  
  if (message) {
    const notification = document.createElement('div');
    notification.classList.add('notification', messageType);
  
    const icon = document.createElement('span');
    icon.classList.add('notification-icon');
    if (messageType === 'success') {
      icon.innerHTML = '&#10003;'; // checkmark icon
    } else if (messageType === 'error') {
      icon.innerHTML = '&#10007;'; // cross icon
    }
    notification.appendChild(icon);
  
    const messageText = document.createElement('span');
    messageText.innerText = message;
    notification.appendChild(messageText);
  
    notificationContainer.appendChild(notification);
  
    setTimeout(() => {
      notification.classList.remove('slide-up');
      notification.classList.add('slide-down');
      setTimeout(() => {
        notificationContainer.removeChild(notification);
      }, 300);
    }, 5000);
  }
</script>
</body>
</html>
