<link rel="stylesheet" href="css/thankyou.css">

<div class=content>
    
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thanks for contacting us ! </p>
        <p>Our Team will contact you soon </p>
        <br>
        <br>
        

        <a href="/home" class="go-home">
          go home
        </a>
        
      </div>
    
      <div class="footer-like">
        <p class="site-footer__fineprint" id="fineprint">Copyright ©2023 Autometa Corporation | All Rights Reserved</p>
      </div>
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">