<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="shortcut icon" href="images/logo.png">
    <title>Autometa Corporation Home</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/welcome.css" />
  
  
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;700;800&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
 
  </head>
  <body>
    <nav>
    <!-- <div class="landing-page" id="landing page"> -->
      <!-- <article class="nav-section" id="navbar"> -->
        <!-- <div class="frame-parent"> -->
          <div class="screenshot-2022-12-24-07-56-13-parent">
            <img
              class="screenshot-2022-12-24-07-56-13-icon"
              alt=""
              src="images/screenshot-2022122407561321-40deb401b9ffe8e1df2f1cc5ba480b12-1@2x.png"
            /><label class="autometa-corporation">Autometa Corporation</label>
          </div>
          <div class="openMenu"><i class="fa fa-bars"></i></div>
          <ul class="mainMenu">
            <li><a class="features" id="features" >Features</a></li>
            <li><a class="features" id="aboutUs">About Us</a></li>
            <li><a href="/contact" class="features1">Contact Us</a></li>
            <form action="/logout" method="get">
              <button class="makers-button" id="logout">
                <div class="button" >Logout</div>
              </button>
              </form>
              
            <!-- <form action="/logout" method="get">
            <li><a href="#">Logout</a></li>
            </form> -->
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
            </span>
        </ul>
         
          <!-- <div class="features-parent">
            <button class="features" id="features">Features</button
            ><button class="features" id="aboutUs">About Us</button
            >    
            <a href="/contact" class="features1">Contact Us</a>

            <form action="/logout" method="get">
            <button class="makers-button">
              <div class="button">Logout</div>
            </form>
            </button>
          </div>
        </div>

        <button  class="hamburger-menu">
          <div class="hamburger-menu-child"></div>
          <div class="hamburger-menu-child"></div>
          <div class="hamburger-menu-child"></div>
        </button> -->

        <!-- <ul class="menu">
          <li><button class="features" id="features-mobile">Features</button></li>
          <li><button class="features" id="aboutUs-mobile">About Us</button></li>
          <li><a href="/contact" class="features1">Contact Us</a></li>
          <li>
            <form action="/logout" method="get">
              <button class="makers-button">
                <div class="button">Logout</div>
              </button>
            </form>
          </li>
        </ul> -->
        </nav>
      <!-- </article> -->
      <article class="hero-section" id="hero">
        <article class="hero-content" data-animate-on-scroll>
          <div class="hero-content-inner">
            <div class="summarize-your-documents-get-t-parent">
              <h1 class="summarize-your-documents-get-t">
                <span>SUMMARIZE YOUR DOCUMENTS GET THE BEST ANSWER </span
                ><span class="to-a-query">TO A QUERY</span>
              </h1>
              <h4 class="the-uploaded-document-wil-be-p">
                The uploaded document wil be process using NLP Algorithm to get
                the best possible answer
              </h4>
              <button class="buttonprimarywith-icon" id="buttonPrimaryWithIcon">
                <div class="button-name-parent">
                  <b class="button-name">Get Started</b>
                  <div class="icon">
                    <img
                      class="iconoutlinearrow-right"
                      alt=""
                      src="images/iconoutlinearrowright.svg"
                    />
                  </div>
                </div></button
              ><button class="buttons"></button>
            </div>
          </div>
          <img
            class="img1-1-icon"
            alt=""
            loading="eager"
            src="images/img1-1@2x.png"
          />
        </article>
      </article>
      <article
        class="upload-section"
        id="upload"
        data-scroll-to="uploadSection"
      >
        <div class="upload-content" data-animate-on-scroll>
          <div class="laptop-wrapper">
            <div class="laptop">
              <img class="vector-icon" alt="" src="images/vector.svg" /><img
                class="vector-icon1"
                alt=""
                src="images/vector1.svg"
              /><img class="vector-icon2" alt="" src="images/vector2.svg" /><img
                class="vector-icon3"
                alt=""
                src="images/vector3.svg"
              /><img class="vector-icon4" alt="" src="images/vector4.svg" /><img
                class="vector-icon5"
                alt=""
                src="images/vector5.svg"
              /><img class="vector-icon6" alt="" src="images/vector6.svg" /><img
                class="vector-icon7"
                alt=""
                src="images/vector7.svg"
              /><img class="vector-icon8" alt="" src="images/vector8.svg" /><img
                class="vector-icon9"
                alt=""
                src="images/vector9.svg"
              /><img
                class="vector-icon10"
                alt=""
                src="images/vector10.svg"
              /><img
                class="vector-icon11"
                alt=""
                src="images/vector11.svg"
              /><img
                class="vector-icon12"
                alt=""
                src="images/vector12.svg"
              /><img
                class="vector-icon13"
                alt=""
                src="images/vector13.svg"
              /><img
                class="vector-icon14"
                alt=""
                src="images/vector14.svg"
              /><img
                class="vector-icon15"
                alt=""
                src="images/vector15.svg"
              /><img
                class="vector-icon16"
                alt=""
                src="images/vector16.svg"
              /><img
                class="vector-icon17"
                alt=""
                src="images/vector17.svg"
              /><img
                class="vector-icon18"
                alt=""
                src="images/vector18.svg"
              /><img
                class="vector-icon19"
                alt=""
                src="images/vector19.svg"
              /><img
                class="vector-icon20"
                alt=""
                src="images/vector20.svg"
              /><img
                class="vector-icon21"
                alt=""
                src="images/vector21.svg"
              /><img
                class="vector-icon22"
                alt=""
                src="images/vector22.svg"
              /><img
                class="vector-icon23"
                alt=""
                src="images/vector23.svg"
              /><img
                class="vector-icon24"
                alt=""
                src="images/vector24.svg"
              /><img
                class="vector-icon25"
                alt=""
                src="images/vector25.svg"
              /><img
                class="vector-icon26"
                alt=""
                src="images/vector26.svg"
              /><img
                class="vector-icon27"
                alt=""
                src="images/vector27.svg"
              /><img
                class="vector-icon28"
                alt=""
                src="images/vector28.svg"
              /><img
                class="vector-icon29"
                alt=""
                src="images/vector29.svg"
              /><img
                class="vector-icon30"
                alt=""
                src="images/vector30.svg"
              /><img
                class="vector-icon31"
                alt=""
                src="images/vector31.svg"
              /><img
                class="vector-icon32"
                alt=""
                src="images/vector32.svg"
              /><img
                class="vector-icon33"
                alt=""
                src="images/vector33.svg"
              /><img
                class="vector-icon34"
                alt=""
                src="images/vector34.svg"
              /><img
                class="vector-icon35"
                alt=""
                src="images/vector35.svg"
              /><img
                class="vector-icon36"
                alt=""
                src="images/vector36.svg"
              /><img
                class="vector-icon37"
                alt=""
                src="images/vector37.svg"
              /><img
                class="vector-icon38"
                alt=""
                src="images/vector38.svg"
              /><img
                class="vector-icon39"
                alt=""
                src="images/vector39.svg"
              /><img
                class="vector-icon40"
                alt=""
                src="images/vector40.svg"
              /><img
                class="vector-icon40"
                alt=""
                src="images/vector41.svg"
              /><img
                class="vector-icon42"
                alt=""
                src="images/vector42.svg"
              /><img
                class="vector-icon43"
                alt=""
                src="images/vector43.svg"
              /><img
                class="vector-icon44"
                alt=""
                src="images/vector44.svg"
              /><img
                class="vector-icon45"
                alt=""
                src="images/vector45.svg"
              /><img
                class="vector-icon46"
                alt=""
                src="images/vector46.svg"
              /><img
                class="vector-icon47"
                alt=""
                src="images/vector47.svg"
              /><img
                class="vector-icon48"
                alt=""
                src="images/vector48.svg"
              /><img
                class="vector-icon49"
                alt=""
                src="images/vector49.svg"
              /><img
                class="vector-icon50"
                alt=""
                src="images/vector50.svg"
              /><img
                class="vector-icon51"
                alt=""
                src="images/vector51.svg"
              /><img
                class="vector-icon52"
                alt=""
                src="images/vector52.svg"
              /><img
                class="vector-icon53"
                alt=""
                src="images/vector53.svg"
              /><img
                class="vector-icon54"
                alt=""
                src="images/vector54.svg"
              /><img
                class="vector-icon55"
                alt=""
                src="images/vector55.svg"
              /><img
                class="vector-icon56"
                alt=""
                src="images/vector56.svg"
              /><img
                class="vector-icon57"
                alt=""
                src="images/vector57.svg"
              /><img
                class="vector-icon58"
                alt=""
                src="images/vector58.svg"
              /><img
                class="vector-icon59"
                alt=""
                src="images/vector59.svg"
              /><img
                class="vector-icon60"
                alt=""
                src="images/vector60.svg"
              /><img
                class="vector-icon61"
                alt=""
                src="images/vector61.svg"
              /><img
                class="vector-icon62"
                alt=""
                src="images/vector62.svg"
              /><img
                class="vector-icon63"
                alt=""
                src="images/vector63.svg"
              /><img
                class="vector-icon64"
                alt=""
                src="images/vector64.svg"
              /><img class="group-icon" alt="" src="images/group.svg" /><img
                class="vector-icon65"
                alt=""
                src="images/vector65.svg"
              /><img
                class="vector-icon66"
                alt=""
                src="images/vector66.svg"
              /><img
                class="vector-icon67"
                alt=""
                src="images/vector67.svg"
              /><img
                class="vector-icon68"
                alt=""
                src="images/vector68.svg"
              /><img
                class="vector-icon69"
                alt=""
                src="images/vector69.svg"
              /><img
                class="vector-icon70"
                alt=""
                src="images/vector70.svg"
              /><img
                class="vector-icon71"
                alt=""
                src="images/vector71.svg"
              /><img
                class="vector-icon72"
                alt=""
                src="images/vector72.svg"
              /><img
                class="vector-icon73"
                alt=""
                src="images/vector73.svg"
              /><img
                class="vector-icon74"
                alt=""
                src="images/vector74.svg"
              /><img
                class="vector-icon75"
                alt=""
                src="images/vector75.svg"
              /><img
                class="vector-icon76"
                alt=""
                src="images/vector76.svg"
              /><img
                class="vector-icon77"
                alt=""
                src="images/vector77.svg"
              /><img
                class="vector-icon78"
                alt=""
                src="images/vector78.svg"
              /><img
                class="vector-icon79"
                alt=""
                src="images/vector79.svg"
              /><img
                class="vector-icon80"
                alt=""
                src="images/vector80.svg"
              /><img
                class="vector-icon81"
                alt=""
                src="images/vector81.svg"
              /><img
                class="vector-icon82"
                alt=""
                src="images/vector82.svg"
              /><img
                class="vector-icon83"
                alt=""
                src="images/vector83.svg"
              /><img
                class="vector-icon84"
                alt=""
                src="images/vector84.svg"
              /><img
                class="vector-icon85"
                alt=""
                src="images/vector85.svg"
              /><img
                class="vector-icon86"
                alt=""
                src="images/vector86.svg"
              /><img
                class="vector-icon87"
                alt=""
                src="images/vector87.svg"
              /><img
                class="vector-icon88"
                alt=""
                src="images/vector88.svg"
              /><img
                class="vector-icon89"
                alt=""
                src="images/vector89.svg"
              /><img
                class="vector-icon90"
                alt=""
                src="images/vector90.svg"
              /><img
                class="vector-icon91"
                alt=""
                src="images/vector91.svg"
              /><img
                class="vector-icon92"
                alt=""
                src="images/vector92.svg"
              /><img
                class="vector-icon93"
                alt=""
                src="images/vector93.svg"
              /><img
                class="vector-icon94"
                alt=""
                src="images/vector94.svg"
              /><img
                class="vector-icon95"
                alt=""
                src="images/vector95.svg"
              /><img
                class="vector-icon96"
                alt=""
                src="images/vector96.svg"
              /><img
                class="vector-icon97"
                alt=""
                src="images/vector97.svg"
              /><img
                class="vector-icon98"
                alt=""
                src="images/vector98.svg"
              /><img
                class="vector-icon99"
                alt=""
                src="images/vector99.svg"
              /><img
                class="vector-icon100"
                alt=""
                src="images/vector100.svg"
              /><img
                class="vector-icon101"
                alt=""
                src="images/vector101.svg"
              /><img
                class="vector-icon102"
                alt=""
                src="images/vector102.svg"
              /><img
                class="vector-icon103"
                alt=""
                src="images/vector103.svg"
              /><img
                class="vector-icon104"
                alt=""
                src="images/vector104.svg"
              /><img
                class="vector-icon105"
                alt=""
                src="images/vector105.svg"
              /><img
                class="vector-icon106"
                alt=""
                src="images/vector106.svg"
              /><img
                class="vector-icon107"
                alt=""
                src="images/vector107.svg"
              /><img
                class="vector-icon108"
                alt=""
                src="images/vector108.svg"
              /><img
                class="vector-icon109"
                alt=""
                src="images/vector109.svg"
              /><img
                class="vector-icon110"
                alt=""
                src="images/vector110.svg"
              /><img
                class="vector-icon111"
                alt=""
                src="images/vector111.svg"
              /><img
                class="vector-icon112"
                alt=""
                src="images/vector112.svg"
              /><img
                class="vector-icon113"
                alt=""
                src="images/vector113.svg"
              /><img
                class="vector-icon114"
                alt=""
                src="images/vector114.svg"
              /><img
                class="vector-icon115"
                alt=""
                src="images/vector115.svg"
              /><img
                class="vector-icon116"
                alt=""
                src="images/vector116.svg"
              /><img
                class="vector-icon117"
                alt=""
                src="images/vector117.svg"
              /><img
                class="vector-icon118"
                alt=""
                src="images/vector118.svg"
              /><img
                class="vector-icon119"
                alt=""
                src="images/vector119.svg"
              /><img
                class="vector-icon120"
                alt=""
                src="images/vector120.svg"
              /><img
                class="vector-icon121"
                alt=""
                src="images/vector121.svg"
              /><img
                class="vector-icon122"
                alt=""
                src="images/vector122.svg"
              /><img
                class="vector-icon123"
                alt=""
                src="images/vector123.svg"
              /><img
                class="vector-icon124"
                alt=""
                src="images/vector124.svg"
              /><img
                class="vector-icon125"
                alt=""
                src="images/vector125.svg"
              /><img
                class="vector-icon126"
                alt=""
                src="images/vector126.svg"
              /><img
                class="vector-icon127"
                alt=""
                src="images/vector127.svg"
              /><img
                class="vector-icon128"
                alt=""
                src="images/vector128.svg"
              /><img
                class="vector-icon129"
                alt=""
                src="images/vector129.svg"
              /><img
                class="vector-icon130"
                alt=""
                src="images/vector130.svg"
              /><img
                class="vector-icon131"
                alt=""
                src="images/vector131.svg"
              /><img
                class="vector-icon132"
                alt=""
                src="images/vector132.svg"
              /><img
                class="vector-icon133"
                alt=""
                src="images/vector133.svg"
              /><img
                class="vector-icon134"
                alt=""
                src="images/vector134.svg"
              /><img
                class="vector-icon135"
                alt=""
                src="images/vector135.svg"
              /><img
                class="vector-icon136"
                alt=""
                src="images/vector136.svg"
              /><img
                class="vector-icon137"
                alt=""
                src="images/vector137.svg"
              /><img
                class="vector-icon138"
                alt=""
                src="images/vector138.svg"
              /><img
                class="vector-icon139"
                alt=""
                src="images/vector139.svg"
              /><img
                class="vector-icon140"
                alt=""
                src="images/vector140.svg"
              /><img
                class="vector-icon141"
                alt=""
                src="images/vector141.svg"
              /><img
                class="vector-icon142"
                alt=""
                src="images/vector142.svg"
              /><img
                class="vector-icon143"
                alt=""
                src="images/vector143.svg"
              /><img
                class="vector-icon144"
                alt=""
                src="images/vector144.svg"
              /><img
                class="vector-icon145"
                alt=""
                src="images/vector145.svg"
              /><img
                class="vector-icon146"
                alt=""
                src="images/vector146.svg"
              /><img
                class="vector-icon147"
                alt=""
                src="images/vector147.svg"
              /><img
                class="vector-icon148"
                alt=""
                src="images/vector148.svg"
              /><img
                class="vector-icon149"
                alt=""
                src="images/vector149.svg"
              /><img
                class="vector-icon150"
                alt=""
                src="images/vector150.svg"
              /><img
                class="vector-icon151"
                alt=""
                src="images/vector151.svg"
              /><img
                class="vector-icon152"
                alt=""
                src="images/vector152.svg"
              /><img
                class="vector-icon153"
                alt=""
                src="images/vector153.svg"
              /><img
                class="vector-icon154"
                alt=""
                src="images/vector154.svg"
              /><img
                class="vector-icon155"
                alt=""
                src="images/vector155.svg"
              /><img
                class="vector-icon156"
                alt=""
                src="images/vector156.svg"
              /><img
                class="vector-icon157"
                alt=""
                src="images/vector157.svg"
              /><img
                class="vector-icon158"
                alt=""
                src="images/vector158.svg"
              /><img
                class="vector-icon159"
                alt=""
                src="images/vector159.svg"
              /><img
                class="vector-icon160"
                alt=""
                src="images/vector160.svg"
              /><img
                class="vector-icon161"
                alt=""
                src="images/vector161.svg"
              /><img
                class="vector-icon162"
                alt=""
                src="images/vector162.svg"
              /><img
                class="vector-icon163"
                alt=""
                src="images/vector163.svg"
              /><img
                class="vector-icon164"
                alt=""
                src="images/vector164.svg"
              /><img
                class="vector-icon165"
                alt=""
                src="images/vector165.svg"
              /><img
                class="vector-icon166"
                alt=""
                src="images/vector166.svg"
              /><img
                class="vector-icon167"
                alt=""
                src="images/vector167.svg"
              /><img
                class="vector-icon168"
                alt=""
                src="images/vector168.svg"
              /><img
                class="vector-icon169"
                alt=""
                src="images/vector169.svg"
              /><img
                class="vector-icon170"
                alt=""
                src="images/vector170.svg"
              /><img
                class="vector-icon171"
                alt=""
                src="images/vector171.svg"
              /><img
                class="vector-icon172"
                alt=""
                src="images/vector172.svg"
              /><img
                class="vector-icon173"
                alt=""
                src="images/vector173.svg"
              /><img
                class="vector-icon174"
                alt=""
                src="images/vector174.svg"
              /><img
                class="vector-icon175"
                alt=""
                src="images/vector175.svg"
              /><img
                class="vector-icon176"
                alt=""
                src="images/vector176.svg"
              /><img
                class="vector-icon177"
                alt=""
                src="images/vector177.svg"
              /><img
                class="vector-icon178"
                alt=""
                src="images/vector178.svg"
              /><img
                class="vector-icon179"
                alt=""
                src="images/vector179.svg"
              /><img
                class="vector-icon180"
                alt=""
                src="images/vector180.svg"
              /><img
                class="vector-icon181"
                alt=""
                src="images/vector181.svg"
              /><img
                class="vector-icon182"
                alt=""
                src="images/vector182.svg"
              /><img
                class="vector-icon183"
                alt=""
                src="images/vector183.svg"
              /><img
                class="vector-icon184"
                alt=""
                src="images/vector184.svg"
              /><img
                class="vector-icon185"
                alt=""
                src="images/vector185.svg"
              /><img
                class="vector-icon186"
                alt=""
                src="images/vector186.svg"
              /><img
                class="vector-icon187"
                alt=""
                src="images/vector187.svg"
              /><img
                class="vector-icon188"
                alt=""
                src="images/vector188.svg"
              /><img
                class="vector-icon189"
                alt=""
                src="images/vector189.svg"
              /><img
                class="vector-icon190"
                alt=""
                src="images/vector190.svg"
              /><img
                class="vector-icon191"
                alt=""
                src="images/vector191.svg"
              /><img
                class="vector-icon192"
                alt=""
                src="images/vector192.svg"
              /><img
                class="vector-icon193"
                alt=""
                src="images/vector193.svg"
              /><img
                class="vector-icon194"
                alt=""
                src="images/vector194.svg"
              /><img
                class="vector-icon195"
                alt=""
                src="images/vector195.svg"
              /><img
                class="vector-icon196"
                alt=""
                src="images/vector196.svg"
              /><img
                class="vector-icon197"
                alt=""
                src="images/vector197.svg"
              /><img
                class="vector-icon198"
                alt=""
                src="images/vector198.svg"
              /><img
                class="vector-icon199"
                alt=""
                src="images/vector199.svg"
              /><img
                class="vector-icon200"
                alt=""
                src="images/vector200.svg"
              /><img
                class="vector-icon201"
                alt=""
                src="images/vector201.svg"
              /><img
                class="vector-icon202"
                alt=""
                src="images/vector202.svg"
              /><img
                class="vector-icon203"
                alt=""
                src="images/vector203.svg"
              /><img
                class="vector-icon204"
                alt=""
                src="images/vector204.svg"
              /><img
                class="vector-icon205"
                alt=""
                src="images/vector205.svg"
              /><img
                class="vector-icon206"
                alt=""
                src="images/vector206.svg"
              /><img
                class="vector-icon207"
                alt=""
                src="images/vector207.svg"
              /><img
                class="vector-icon208"
                alt=""
                src="images/vector208.svg"
              /><img
                class="vector-icon209"
                alt=""
                src="images/vector209.svg"
              /><img
                class="vector-icon210"
                alt=""
                src="images/vector210.svg"
              /><img
                class="vector-icon211"
                alt=""
                src="images/vector211.svg"
              /><img
                class="vector-icon212"
                alt=""
                src="images/vector212.svg"
              /><img
                class="vector-icon213"
                alt=""
                src="images/vector213.svg"
              /><img
                class="vector-icon214"
                alt=""
                src="images/vector214.svg"
              /><img
                class="vector-icon215"
                alt=""
                src="images/vector215.svg"
              /><img
                class="vector-icon216"
                alt=""
                src="images/vector216.svg"
              /><img
                class="vector-icon217"
                alt=""
                src="images/vector217.svg"
              /><img
                class="vector-icon218"
                alt=""
                src="images/vector218.svg"
              /><img
                class="vector-icon219"
                alt=""
                src="images/vector219.svg"
              /><img
                class="vector-icon220"
                alt=""
                src="images/vector220.svg"
              /><img
                class="vector-icon221"
                alt=""
                src="images/vector221.svg"
              /><img
                class="vector-icon222"
                alt=""
                src="images/vector222.svg"
              /><img
                class="vector-icon223"
                alt=""
                src="images/vector223.svg"
              /><img
                class="vector-icon224"
                alt=""
                src="images/vector224.svg"
              /><img
                class="vector-icon225"
                alt=""
                src="images/vector225.svg"
              /><img
                class="vector-icon226"
                alt=""
                src="images/vector226.svg"
              /><img
                class="vector-icon227"
                alt=""
                src="images/vector227.svg"
              /><img
                class="vector-icon228"
                alt=""
                src="images/vector228.svg"
              /><img
                class="vector-icon229"
                alt=""
                src="images/vector229.svg"
              /><img
                class="vector-icon230"
                alt=""
                src="images/vector230.svg"
              /><img
                class="vector-icon231"
                alt=""
                src="images/vector231.svg"
              /><img
                class="vector-icon232"
                alt=""
                src="images/vector232.svg"
              /><img
                class="vector-icon233"
                alt=""
                src="images/vector233.svg"
              /><img
                class="vector-icon234"
                alt=""
                src="images/vector234.svg"
              /><img
                class="vector-icon235"
                alt=""
                src="images/vector235.svg"
              /><img
                class="vector-icon236"
                alt=""
                src="images/vector236.svg"
              /><img
                class="vector-icon237"
                alt=""
                src="images/vector237.svg"
              /><img
                class="vector-icon238"
                alt=""
                src="images/vector238.svg"
              /><img
                class="vector-icon239"
                alt=""
                src="images/vector239.svg"
              /><img
                class="vector-icon240"
                alt=""
                src="images/vector240.svg"
              /><img
                class="vector-icon241"
                alt=""
                src="images/vector241.svg"
              /><img
                class="vector-icon242"
                alt=""
                src="images/vector242.svg"
              /><img
                class="vector-icon243"
                alt=""
                src="images/vector243.svg"
              /><img
                class="vector-icon244"
                alt=""
                src="images/vector244.svg"
              /><img
                class="vector-icon245"
                alt=""
                src="images/vector245.svg"
              /><img
                class="vector-icon246"
                alt=""
                src="images/vector246.svg"
              /><img
                class="vector-icon247"
                alt=""
                src="images/vector247.svg"
              /><img
                class="vector-icon248"
                alt=""
                src="images/vector248.svg"
              /><img
                class="vector-icon249"
                alt=""
                src="images/vector249.svg"
              /><img
                class="vector-icon250"
                alt=""
                src="images/vector250.svg"
              /><img
                class="vector-icon251"
                alt=""
                src="images/vector251.svg"
              /><img
                class="vector-icon252"
                alt=""
                src="images/vector252.svg"
              /><img
                class="vector-icon253"
                alt=""
                src="images/vector253.svg"
              /><img
                class="vector-icon254"
                alt=""
                src="images/vector254.svg"
              /><img
                class="vector-icon255"
                alt=""
                src="images/vector255.svg"
              /><img
                class="vector-icon256"
                alt=""
                src="images/vector256.svg"
              /><img
                class="vector-icon257"
                alt=""
                src="images/vector257.svg"
              /><img
                class="vector-icon258"
                alt=""
                src="images/vector258.svg"
              /><img
                class="vector-icon259"
                alt=""
                src="images/vector259.svg"
              /><img
                class="vector-icon260"
                alt=""
                src="images/vector260.svg"
              /><img
                class="vector-icon261"
                alt=""
                src="images/vector261.svg"
              /><img
                class="vector-icon262"
                alt=""
                src="images/vector262.svg"
              /><img
                class="vector-icon263"
                alt=""
                src="images/vector263.svg"
              /><img
                class="vector-icon264"
                alt=""
                src="images/vector264.svg"
              /><img
                class="vector-icon265"
                alt=""
                src="images/vector265.svg"
              /><img
                class="vector-icon266"
                alt=""
                src="images/vector266.svg"
              /><img
                class="vector-icon267"
                alt=""
                src="images/vector267.svg"
              /><img
                class="vector-icon268"
                alt=""
                src="images/vector268.svg"
              /><img
                class="vector-icon269"
                alt=""
                src="images/vector269.svg"
              /><img
                class="vector-icon270"
                alt=""
                src="images/vector270.svg"
              /><img
                class="vector-icon271"
                alt=""
                src="images/vector271.svg"
              /><img
                class="vector-icon272"
                alt=""
                src="images/vector272.svg"
              /><img
                class="vector-icon273"
                alt=""
                src="images/vector273.svg"
              /><img
                class="vector-icon274"
                alt=""
                src="images/vector274.svg"
              /><img
                class="vector-icon275"
                alt=""
                src="images/vector275.svg"
              /><img
                class="vector-icon276"
                alt=""
                src="images/vector276.svg"
              /><img
                class="vector-icon277"
                alt=""
                src="images/vector277.svg"
              /><img
                class="vector-icon278"
                alt=""
                src="images/vector278.svg"
              /><img
                class="vector-icon279"
                alt=""
                src="images/vector279.svg"
              /><img
                class="vector-icon280"
                alt=""
                src="images/vector280.svg"
              /><img
                class="vector-icon281"
                alt=""
                src="images/vector281.svg"
              /><img
                class="vector-icon282"
                alt=""
                src="images/vector282.svg"
              /><img
                class="vector-icon283"
                alt=""
                src="images/vector283.svg"
              /><img
                class="vector-icon284"
                alt=""
                src="images/vector284.svg"
              /><img
                class="vector-icon285"
                alt=""
                src="images/vector285.svg"
              /><img
                class="vector-icon286"
                alt=""
                src="images/vector286.svg"
              /><img
                class="vector-icon287"
                alt=""
                src="images/vector287.svg"
              /><img
                class="vector-icon288"
                alt=""
                src="images/vector288.svg"
              /><img
                class="vector-icon289"
                alt=""
                src="images/vector289.svg"
              /><img
                class="vector-icon290"
                alt=""
                src="images/vector290.svg"
              /><img
                class="vector-icon291"
                alt=""
                src="images/vector291.svg"
              /><img
                class="vector-icon292"
                alt=""
                src="images/vector292.svg"
              /><img
                class="vector-icon293"
                alt=""
                src="images/vector293.svg"
              /><img
                class="vector-icon294"
                alt=""
                src="images/vector294.svg"
              /><img
                class="vector-icon295"
                alt=""
                src="images/vector295.svg"
              /><img
                class="vector-icon296"
                alt=""
                src="images/vector296.svg"
              /><img
                class="vector-icon297"
                alt=""
                src="images/vector297.svg"
              /><img
                class="vector-icon298"
                alt=""
                src="images/vector298.svg"
              /><img
                class="vector-icon299"
                alt=""
                src="images/vector299.svg"
              /><img
                class="vector-icon300"
                alt=""
                src="images/vector300.svg"
              /><img
                class="vector-icon301"
                alt=""
                src="images/vector301.svg"
              /><img
                class="vector-icon302"
                alt=""
                src="images/vector302.svg"
              /><img
                class="vector-icon303"
                alt=""
                src="images/vector303.svg"
              /><img
                class="vector-icon304"
                alt=""
                src="images/vector304.svg"
              /><img
                class="vector-icon305"
                alt=""
                src="images/vector305.svg"
              /><img
                class="vector-icon306"
                alt=""
                src="images/vector306.svg"
              /><img
                class="vector-icon307"
                alt=""
                src="images/vector307.svg"
              /><img
                class="vector-icon308"
                alt=""
                src="images/vector308.svg"
              /><img
                class="vector-icon309"
                alt=""
                src="images/vector309.svg"
              /><img
                class="vector-icon310"
                alt=""
                src="images/vector310.svg"
              /><img
                class="vector-icon311"
                alt=""
                src="images/vector311.svg"
              /><img
                class="vector-icon312"
                alt=""
                src="images/vector312.svg"
              /><img
                class="vector-icon313"
                alt=""
                src="images/vector313.svg"
              /><img
                class="vector-icon314"
                alt=""
                src="images/vector314.svg"
              /><img
                class="vector-icon315"
                alt=""
                src="images/vector315.svg"
              /><img
                class="vector-icon316"
                alt=""
                src="images/vector316.svg"
              /><img
                class="vector-icon317"
                alt=""
                src="images/vector317.svg"
              /><img
                class="vector-icon318"
                alt=""
                src="images/vector318.svg"
              /><img
                class="vector-icon319"
                alt=""
                src="images/vector319.svg"
              /><img
                class="vector-icon320"
                alt=""
                src="images/vector320.svg"
              /><img
                class="vector-icon321"
                alt=""
                src="images/vector321.svg"
              /><img
                class="vector-icon322"
                alt=""
                src="images/vector322.svg"
              /><img
                class="vector-icon323"
                alt=""
                src="images/vector323.svg"
              /><img
                class="vector-icon324"
                alt=""
                src="images/vector324.svg"
              /><img
                class="vector-icon325"
                alt=""
                src="images/vector325.svg"
              /><img
                class="vector-icon326"
                alt=""
                src="images/vector326.svg"
              /><img
                class="vector-icon327"
                alt=""
                src="images/vector327.svg"
              /><img
                class="vector-icon328"
                alt=""
                src="images/vector328.svg"
              /><img
                class="vector-icon329"
                alt=""
                src="images/vector329.svg"
              /><img
                class="vector-icon330"
                alt=""
                src="images/vector330.svg"
              /><img
                class="vector-icon331"
                alt=""
                src="images/vector331.svg"
              /><img
                class="vector-icon332"
                alt=""
                src="images/vector332.svg"
              /><img
                class="vector-icon333"
                alt=""
                src="images/vector333.svg"
              /><img
                class="vector-icon334"
                alt=""
                src="images/vector334.svg"
              /><img
                class="vector-icon335"
                alt=""
                src="images/vector335.svg"
              /><img
                class="vector-icon336"
                alt=""
                src="images/vector336.svg"
              /><img
                class="vector-icon337"
                alt=""
                src="images/vector337.svg"
              /><img
                class="vector-icon338"
                alt=""
                src="images/vector338.svg"
              /><img
                class="vector-icon339"
                alt=""
                src="images/vector339.svg"
              /><img
                class="vector-icon340"
                alt=""
                src="images/vector340.svg"
              /><img
                class="vector-icon341"
                alt=""
                src="images/vector341.svg"
              /><img
                class="vector-icon342"
                alt=""
                src="images/vector342.svg"
              /><img
                class="vector-icon343"
                alt=""
                src="images/vector343.svg"
              /><img
                class="vector-icon344"
                alt=""
                src="images/vector344.svg"
              /><img
                class="vector-icon345"
                alt=""
                src="images/vector345.svg"
              /><img
                class="vector-icon346"
                alt=""
                src="images/vector346.svg"
              /><img
                class="vector-icon347"
                alt=""
                src="images/vector347.svg"
              /><img
                class="vector-icon348"
                alt=""
                src="images/vector348.svg"
              /><img
                class="vector-icon349"
                alt=""
                src="images/vector349.svg"
              /><img
                class="vector-icon350"
                alt=""
                src="images/vector350.svg"
              /><img
                class="vector-icon351"
                alt=""
                src="images/vector351.svg"
              /><img
                class="vector-icon352"
                alt=""
                src="images/vector352.svg"
              /><img
                class="vector-icon353"
                alt=""
                src="images/vector353.svg"
              /><img
                class="vector-icon354"
                alt=""
                src="images/vector354.svg"
              /><img
                class="vector-icon355"
                alt=""
                src="images/vector355.svg"
              /><img
                class="vector-icon356"
                alt=""
                src="images/vector356.svg"
              /><img
                class="vector-icon357"
                alt=""
                src="images/vector357.svg"
              /><img
                class="vector-icon358"
                alt=""
                src="images/vector358.svg"
              /><img
                class="vector-icon359"
                alt=""
                src="images/vector359.svg"
              /><img
                class="vector-icon360"
                alt=""
                src="images/vector360.svg"
              /><img
                class="vector-icon361"
                alt=""
                src="images/vector361.svg"
              /><img
                class="vector-icon362"
                alt=""
                src="images/vector362.svg"
              /><img
                class="vector-icon363"
                alt=""
                src="images/vector363.svg"
              /><img
                class="vector-icon364"
                alt=""
                src="images/vector364.svg"
              /><img
                class="vector-icon365"
                alt=""
                src="images/vector365.svg"
              /><img
                class="vector-icon366"
                alt=""
                src="images/vector366.svg"
              /><img
                class="vector-icon367"
                alt=""
                src="images/vector367.svg"
              /><img
                class="vector-icon368"
                alt=""
                src="images/vector368.svg"
              /><img
                class="vector-icon369"
                alt=""
                src="images/vector369.svg"
              /><img
                class="vector-icon370"
                alt=""
                src="images/vector370.svg"
              /><img
                class="vector-icon371"
                alt=""
                src="images/vector371.svg"
              /><img
                class="vector-icon372"
                alt=""
                src="images/vector372.svg"
              /><img
                class="vector-icon373"
                alt=""
                src="images/vector373.svg"
              /><img
                class="vector-icon374"
                alt=""
                src="images/vector374.svg"
              /><img
                class="vector-icon375"
                alt=""
                src="images/vector375.svg"
              /><img
                class="vector-icon376"
                alt=""
                src="images/vector376.svg"
              /><img
                class="vector-icon377"
                alt=""
                src="images/vector377.svg"
              /><img
                class="vector-icon378"
                alt=""
                src="images/vector378.svg"
              /><img
                class="vector-icon379"
                alt=""
                src="images/vector379.svg"
              /><img
                class="vector-icon380"
                alt=""
                src="images/vector380.svg"
              /><img
                class="vector-icon381"
                alt=""
                src="images/vector381.svg"
              /><img
                class="vector-icon382"
                alt=""
                src="images/vector382.svg"
              /><img
                class="vector-icon383"
                alt=""
                src="images/vector383.svg"
              /><img
                class="vector-icon384"
                alt=""
                src="images/vector384.svg"
              /><img
                class="vector-icon385"
                alt=""
                src="images/vector385.svg"
              /><img
                class="vector-icon386"
                alt=""
                src="images/vector386.svg"
              /><img
                class="vector-icon387"
                alt=""
                src="images/vector387.svg"
              /><img
                class="vector-icon388"
                alt=""
                src="images/vector388.svg"
              /><img
                class="vector-icon389"
                alt=""
                src="images/vector389.svg"
              /><img
                class="vector-icon390"
                alt=""
                src="images/vector390.svg"
              /><img
                class="vector-icon391"
                alt=""
                src="images/vector391.svg"
              /><img
                class="vector-icon392"
                alt=""
                src="images/vector392.svg"
              /><img
                class="vector-icon393"
                alt=""
                src="images/vector393.svg"
              /><img
                class="vector-icon394"
                alt=""
                src="images/vector394.svg"
              /><img
                class="vector-icon395"
                alt=""
                src="images/vector395.svg"
              /><img
                class="vector-icon396"
                alt=""
                src="images/vector396.svg"
              /><img
                class="vector-icon397"
                alt=""
                src="images/vector397.svg"
              /><img
                class="vector-icon398"
                alt=""
                src="images/vector398.svg"
              /><img
                class="vector-icon399"
                alt=""
                src="images/vector399.svg"
              /><img
                class="vector-icon400"
                alt=""
                src="images/vector400.svg"
              /><img
                class="vector-icon401"
                alt=""
                src="images/vector401.svg"
              /><img
                class="vector-icon402"
                alt=""
                src="images/vector402.svg"
              /><img
                class="vector-icon403"
                alt=""
                src="images/vector403.svg"
              /><img
                class="vector-icon404"
                alt=""
                src="images/vector404.svg"
              /><img
                class="vector-icon405"
                alt=""
                src="images/vector405.svg"
              /><img
                class="vector-icon406"
                alt=""
                src="images/vector406.svg"
              /><img
                class="vector-icon407"
                alt=""
                src="images/vector407.svg"
              /><img
                class="vector-icon408"
                alt=""
                src="images/vector408.svg"
              /><img
                class="vector-icon409"
                alt=""
                src="images/vector409.svg"
              /><img
                class="vector-icon410"
                alt=""
                src="images/vector410.svg"
              /><img
                class="vector-icon411"
                alt=""
                src="images/vector411.svg"
              /><img
                class="vector-icon412"
                alt=""
                src="images/vector412.svg"
              /><img
                class="vector-icon413"
                alt=""
                src="images/vector413.svg"
              /><img
                class="vector-icon414"
                alt=""
                src="images/vector414.svg"
              /><img
                class="vector-icon415"
                alt=""
                src="images/vector415.svg"
              /><img
                class="vector-icon416"
                alt=""
                src="images/vector416.svg"
              /><img
                class="vector-icon417"
                alt=""
                src="images/vector417.svg"
              /><img
                class="vector-icon418"
                alt=""
                src="images/vector418.svg"
              /><img
                class="vector-icon419"
                alt=""
                src="images/vector419.svg"
              /><img
                class="vector-icon420"
                alt=""
                src="images/vector420.svg"
              /><img
                class="vector-icon421"
                alt=""
                src="images/vector421.svg"
              /><img
                class="vector-icon422"
                alt=""
                src="images/vector422.svg"
              /><img
                class="vector-icon423"
                alt=""
                src="images/vector423.svg"
              /><img
                class="vector-icon424"
                alt=""
                src="images/vector424.svg"
              /><img
                class="vector-icon425"
                alt=""
                src="images/vector425.svg"
              /><img
                class="vector-icon426"
                alt=""
                src="images/vector426.svg"
              /><img
                class="vector-icon427"
                alt=""
                src="images/vector427.svg"
              /><img
                class="vector-icon428"
                alt=""
                src="images/vector428.svg"
              /><img
                class="vector-icon429"
                alt=""
                src="images/vector429.svg"
              /><img
                class="vector-icon430"
                alt=""
                src="images/vector430.svg"
              /><img
                class="vector-icon431"
                alt=""
                src="images/vector431.svg"
              /><img
                class="vector-icon432"
                alt=""
                src="images/vector432.svg"
              /><img
                class="vector-icon433"
                alt=""
                src="images/vector433.svg"
              /><img
                class="vector-icon434"
                alt=""
                src="images/vector434.svg"
              /><img
                class="vector-icon435"
                alt=""
                src="images/vector435.svg"
              /><img
                class="vector-icon436"
                alt=""
                src="images/vector436.svg"
              /><img
                class="vector-icon437"
                alt=""
                src="images/vector437.svg"
              /><img
                class="vector-icon438"
                alt=""
                src="images/vector438.svg"
              /><img
                class="vector-icon439"
                alt=""
                src="images/vector439.svg"
              /><img
                class="vector-icon440"
                alt=""
                src="images/vector440.svg"
              /><img
                class="vector-icon441"
                alt=""
                src="images/vector441.svg"
              /><img
                class="vector-icon442"
                alt=""
                src="images/vector442.svg"
              /><img
                class="vector-icon443"
                alt=""
                src="images/vector443.svg"
              /><img
                class="vector-icon444"
                alt=""
                src="images/vector444.svg"
              /><img
                class="vector-icon445"
                alt=""
                src="images/vector445.svg"
              /><img
                class="vector-icon446"
                alt=""
                src="images/vector446.svg"
              /><img
                class="vector-icon447"
                alt=""
                src="images/vector447.svg"
              /><img
                class="vector-icon448"
                alt=""
                src="images/vector448.svg"
              /><img
                class="vector-icon449"
                alt=""
                src="images/vector449.svg"
              /><img
                class="vector-icon450"
                alt=""
                src="images/vector450.svg"
              /><img
                class="vector-icon451"
                alt=""
                src="images/vector451.svg"
              /><img
                class="vector-icon452"
                alt=""
                src="images/vector452.svg"
              /><img
                class="vector-icon453"
                alt=""
                src="images/vector453.svg"
              /><img
                class="vector-icon454"
                alt=""
                src="images/vector454.svg"
              /><img
                class="vector-icon455"
                alt=""
                src="images/vector455.svg"
              /><img
                class="vector-icon456"
                alt=""
                src="images/vector456.svg"
              /><img
                class="vector-icon457"
                alt=""
                src="images/vector457.svg"
              /><img
                class="vector-icon458"
                alt=""
                src="images/vector458.svg"
              /><img
                class="vector-icon459"
                alt=""
                src="images/vector459.svg"
              /><img
                class="vector-icon460"
                alt=""
                src="images/vector460.svg"
              /><img
                class="vector-icon461"
                alt=""
                src="images/vector461.svg"
              /><img
                class="vector-icon462"
                alt=""
                src="images/vector462.svg"
              /><img
                class="vector-icon463"
                alt=""
                src="images/vector463.svg"
              /><img
                class="vector-icon464"
                alt=""
                src="images/vector464.svg"
              /><img
                class="vector-icon465"
                alt=""
                src="images/vector465.svg"
              /><img
                class="vector-icon466"
                alt=""
                src="images/vector466.svg"
              /><img
                class="vector-icon467"
                alt=""
                src="images/vector467.svg"
              /><img
                class="vector-icon468"
                alt=""
                src="images/vector468.svg"
              /><img
                class="vector-icon469"
                alt=""
                src="images/vector469.svg"
              /><img
                class="vector-icon470"
                alt=""
                src="images/vector470.svg"
              /><img
                class="vector-icon471"
                alt=""
                src="images/vector471.svg"
              /><img
                class="vector-icon472"
                alt=""
                src="images/vector472.svg"
              /><img
                class="vector-icon473"
                alt=""
                src="images/vector473.svg"
              /><img
                class="vector-icon474"
                alt=""
                src="images/vector474.svg"
              /><img
                class="vector-icon475"
                alt=""
                src="images/vector475.svg"
              /><img
                class="vector-icon476"
                alt=""
                src="images/vector476.svg"
              /><img
                class="vector-icon477"
                alt=""
                src="images/vector477.svg"
              /><img
                class="vector-icon478"
                alt=""
                src="images/vector478.svg"
              /><img
                class="vector-icon479"
                alt=""
                src="images/vector479.svg"
              /><img
                class="vector-icon480"
                alt=""
                src="images/vector480.svg"
              /><img
                class="vector-icon481"
                alt=""
                src="images/vector481.svg"
              /><img
                class="vector-icon482"
                alt=""
                src="images/vector482.svg"
              /><img
                class="vector-icon483"
                alt=""
                src="images/vector483.svg"
              /><img
                class="vector-icon484"
                alt=""
                src="images/vector484.svg"
              /><img
                class="vector-icon485"
                alt=""
                src="images/vector485.svg"
              /><img
                class="vector-icon486"
                alt=""
                src="images/vector486.svg"
              /><img
                class="vector-icon487"
                alt=""
                src="images/vector487.svg"
              /><img
                class="vector-icon488"
                alt=""
                src="images/vector488.svg"
              /><img
                class="vector-icon489"
                alt=""
                src="images/vector489.svg"
              /><img
                class="vector-icon490"
                alt=""
                src="images/vector490.svg"
              /><img
                class="vector-icon491"
                alt=""
                src="images/vector491.svg"
              /><img
                class="vector-icon492"
                alt=""
                src="images/vector492.svg"
              /><img
                class="vector-icon493"
                alt=""
                src="images/vector493.svg"
              /><img
                class="vector-icon494"
                alt=""
                src="images/vector494.svg"
              /><img
                class="vector-icon495"
                alt=""
                src="images/vector495.svg"
              /><img
                class="vector-icon496"
                alt=""
                src="images/vector496.svg"
              /><img
                class="vector-icon497"
                alt=""
                src="images/vector497.svg"
              /><img
                class="vector-icon498"
                alt=""
                src="images/vector498.svg"
              /><img
                class="vector-icon499"
                alt=""
                src="images/vector499.svg"
              /><img
                class="vector-icon500"
                alt=""
                src="images/vector500.svg"
              /><img
                class="vector-icon501"
                alt=""
                src="images/vector501.svg"
              /><img
                class="vector-icon502"
                alt=""
                src="images/vector502.svg"
              /><img
                class="vector-icon503"
                alt=""
                src="images/vector503.svg"
              /><img
                class="vector-icon504"
                alt=""
                src="images/vector504.svg"
              /><img
                class="vector-icon505"
                alt=""
                src="images/vector505.svg"
              /><img
                class="vector-icon506"
                alt=""
                src="images/vector506.svg"
              /><img
                class="vector-icon507"
                alt=""
                src="images/vector507.svg"
              /><img
                class="vector-icon508"
                alt=""
                src="images/vector508.svg"
              /><img
                class="vector-icon509"
                alt=""
                src="images/vector509.svg"
              /><img
                class="vector-icon510"
                alt=""
                src="images/vector510.svg"
              /><img
                class="vector-icon511"
                alt=""
                src="images/vector511.svg"
              /><img
                class="vector-icon512"
                alt=""
                src="images/vector512.svg"
              /><img
                class="vector-icon513"
                alt=""
                src="images/vector513.svg"
              /><img
                class="vector-icon514"
                alt=""
                src="images/vector514.svg"
              /><img
                class="vector-icon515"
                alt=""
                src="images/vector515.svg"
              /><img
                class="vector-icon516"
                alt=""
                src="images/vector516.svg"
              /><img
                class="vector-icon517"
                alt=""
                src="images/vector517.svg"
              /><img
                class="vector-icon518"
                alt=""
                src="images/vector518.svg"
              /><img
                class="vector-icon519"
                alt=""
                src="images/vector519.svg"
              /><img
                class="vector-icon520"
                alt=""
                src="images/vector520.svg"
              /><img
                class="vector-icon521"
                alt=""
                src="images/vector521.svg"
              /><img
                class="vector-icon522"
                alt=""
                src="images/vector522.svg"
              /><img
                class="vector-icon523"
                alt=""
                src="images/vector523.svg"
              /><img
                class="vector-icon524"
                alt=""
                src="images/vector524.svg"
              /><img
                class="vector-icon525"
                alt=""
                src="images/vector525.svg"
              /><img
                class="vector-icon526"
                alt=""
                src="images/vector526.svg"
              /><img
                class="vector-icon527"
                alt=""
                src="images/vector527.svg"
              /><img
                class="vector-icon528"
                alt=""
                src="images/vector528.svg"
              /><img
                class="vector-icon529"
                alt=""
                src="images/vector529.svg"
              /><img
                class="vector-icon530"
                alt=""
                src="images/vector530.svg"
              /><img
                class="vector-icon531"
                alt=""
                src="images/vector531.svg"
              /><img
                class="vector-icon532"
                alt=""
                src="images/vector532.svg"
              /><img
                class="vector-icon533"
                alt=""
                src="images/vector533.svg"
              /><img
                class="vector-icon534"
                alt=""
                src="images/vector534.svg"
              /><img
                class="vector-icon535"
                alt=""
                src="images/vector535.svg"
              /><img
                class="vector-icon536"
                alt=""
                src="images/vector536.svg"
              /><img
                class="vector-icon537"
                alt=""
                src="images/vector537.svg"
              /><img
                class="vector-icon538"
                alt=""
                src="images/vector538.svg"
              /><img
                class="vector-icon539"
                alt=""
                src="images/vector539.svg"
              /><img
                class="vector-icon540"
                alt=""
                src="images/vector540.svg"
              /><img
                class="vector-icon541"
                alt=""
                src="images/vector541.svg"
              /><img
                class="vector-icon542"
                alt=""
                src="images/vector542.svg"
              /><img
                class="vector-icon543"
                alt=""
                src="images/vector543.svg"
              /><img
                class="vector-icon544"
                alt=""
                src="images/vector544.svg"
              /><img
                class="vector-icon545"
                alt=""
                src="images/vector545.svg"
              /><img
                class="vector-icon546"
                alt=""
                src="images/vector546.svg"
              /><img
                class="vector-icon547"
                alt=""
                src="images/vector547.svg"
              /><img
                class="vector-icon548"
                alt=""
                src="images/vector548.svg"
              /><img
                class="vector-icon549"
                alt=""
                src="images/vector549.svg"
              /><img
                class="vector-icon550"
                alt=""
                src="images/vector550.svg"
              /><img
                class="vector-icon551"
                alt=""
                src="images/vector551.svg"
              /><img
                class="vector-icon552"
                alt=""
                src="images/vector552.svg"
              /><img
                class="vector-icon553"
                alt=""
                src="images/vector553.svg"
              /><img
                class="vector-icon554"
                alt=""
                src="images/vector554.svg"
              /><img
                class="vector-icon555"
                alt=""
                src="images/vector555.svg"
              /><img
                class="vector-icon556"
                alt=""
                src="images/vector556.svg"
              /><img
                class="vector-icon557"
                alt=""
                src="images/vector557.svg"
              /><img
                class="vector-icon558"
                alt=""
                src="images/vector558.svg"
              /><img
                class="vector-icon559"
                alt=""
                src="images/vector559.svg"
              /><img
                class="vector-icon560"
                alt=""
                src="images/vector560.svg"
              /><img
                class="vector-icon561"
                alt=""
                src="images/vector561.svg"
              /><img
                class="vector-icon562"
                alt=""
                src="images/vector562.svg"
              /><img
                class="vector-icon563"
                alt=""
                src="images/vector563.svg"
              /><img
                class="vector-icon564"
                alt=""
                src="images/vector564.svg"
              /><img
                class="vector-icon565"
                alt=""
                src="images/vector565.svg"
              /><img
                class="vector-icon566"
                alt=""
                src="images/vector566.svg"
              /><img
                class="vector-icon567"
                alt=""
                src="images/vector567.svg"
              /><img
                class="vector-icon568"
                alt=""
                src="images/vector568.svg"
              /><img
                class="vector-icon569"
                alt=""
                src="images/vector569.svg"
              /><img
                class="vector-icon570"
                alt=""
                src="images/vector570.svg"
              /><img
                class="vector-icon571"
                alt=""
                src="images/vector571.svg"
              /><img
                class="vector-icon572"
                alt=""
                src="images/vector572.svg"
              /><img
                class="vector-icon573"
                alt=""
                src="images/vector573.svg"
              /><img
                class="vector-icon574"
                alt=""
                src="images/vector574.svg"
              /><img class="vector-icon575" alt="" src="images/vector575.svg" />
              <div class="gggg">gggg</div>
            </div>
          </div>
          <div class="makers-button-parent ">

             


           
          

            
            <img
              class="group-child"
              alt=""
              src="images/rectangle-20@2x.png"
            />
            <form action="/upload" method="post" id="form" enctype="multipart/form-data">
              <div id="uploadContainer">
                <input type="file" id="fileInput" accept=".pdf,.doc,.txt, .docx" onchange="displayFileName(); toggleUploadButton()">
                <label for="fileInput">Choose File</label><br>
                
              </div>
              <div id="conatiner">
                
                <div id="fileNameDisplay"></div>
              </div>
              <div id="conatiner-2">
                
            
                <button onclick="removeFile()" class="delete-btn" type="button"></button>
                
              </div>
            
              <div id="notification-toast" class="notification-toast"></div>
              
              <button type="submit" class="makers-button2-">
                  <div class="button1-" id="upload-button" >Upload</div></button>
                  <div id="upload-message">
                    
                  </div>
            </form>

            <form action="/home" method="POST">
            <input class="enter-your-query" type="text" name="query" placeholder="Write Your Query Here" />
            <p class="upload-document-in-pdfdoc">
              Upload Document in .pdf/.doc/.txt
            </p>

            <button class="makers-button2">

              <div class="button1">Submit</div></button
            ></form>
            <img class="group-item" alt="" src="images/arrow-07.svg" />
            <h1 class="fire-your-query-here">
              <span>FIRE YOUR </span><span class="query">QUERY </span
              ><span>HERE</span>
            </h1>
            <img
              class="nlp-icon"
              alt=""
              loading="lazy"
              src="images/nlp@2x.png"
            />
          </div>
        </div>
      </article>
      <article
        class="feature-section"
        id="features"
        data-scroll-to="featureSection"
      >
        <div class="feature-content" data-animate-on-scroll>
          <div class="text-container">
            <div class="makers-text-content">
              <a class="education">Features</a>
              <h1 class="learn-how-to-make-and-publish">
                DISCOVER OUR UNIQUE FEATURES
              </h1>
              <div class="makers-is-a-figma-plugin-to-he">
                Makers is a Figma Plugin to help you build and publish sites
                directly in Figma. No code required.
              </div>
            </div>
          </div>
          <div class="frame-group">
            <div class="quick-easy-upload-parent">
              <h2 class="quick-easy-upload">Quick & Easy Upload</h2>
              <h3 class="just-drop-your-files-on-the-pa">
                Just Drop your Files On the Page and get the Solution at One
                Click
              </h3>
            </div>
            <div class="secure-file-handling-parent">
              <h2 class="secure-file-handling">Secure File Handling</h2>
              <h3 class="we-care-about-your-privacy-and">
                We care about your privacy and protect your document. We’ll also
                remove these files from our system after 14 days
              </h3>
            </div>
            <div class="works-anywhere-parent">
              <h2 class="works-anywhere">Works Anywhere</h2>
              <h3 class="this-web-page-can-work-on-any">
                This web page can work on any system like windows,linux,mac etc
                and we can access it from anywhere
              </h3>
            </div>
          </div>
        </div>
      </article>
      <footer class="footer-section" id="footer" data-scroll-to="footerSection">
        <div class="footer-content">
          <p class="autometa-corporation-inc-all">
            © 2023 Autometa Corporation, Inc. All rights reserved.
          </p>
          <footer class="socials">
            <button class="github" id="github">
              <img class="group-icon1" alt="" src="images/group1.svg" /></button
            ><button class="twitter" id="twitter">
              <img
                class="vector-icon576"
                alt=""
                src="images/vector576.svg"
              /></button
            ><button class="instagram" id="instagram">
              <img
                class="vector-icon577"
                alt=""
                src="images/vector577.svg"
              /><img
                class="vector-icon578"
                alt=""
                src="images/vector578.svg"
              /><img
                class="vector-icon579"
                alt=""
                src="images/vector579.svg"
              /></button
            ><button class="linkedin" id="linkedin">
              <div class="linkedin-child"></div>
              <img
                class="linkedin-logo-icon"
                alt=""
                src="images/linkedin-logo.svg"
              />
            </button>
          </footer>
        </div>
      </footer>
    </div>
    
    <script>
      var features = document.getElementById("features");
      if (features) {
        features.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='featureSection']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var aboutUs = document.getElementById("aboutUs");
      if (aboutUs) {
        aboutUs.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='footerSection']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var buttonPrimaryWithIcon = document.getElementById("buttonPrimaryWithIcon");
      if (buttonPrimaryWithIcon) {
        buttonPrimaryWithIcon.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='uploadSection']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var github = document.getElementById("github");
      if (github) {
        github.addEventListener("click", function () {
          window.open("https://github.com");
        });
      }
      
      var twitter = document.getElementById("twitter");
      if (twitter) {
        twitter.addEventListener("click", function () {
          window.open("https://twitter.com");
        });
      }
      
      var instagram = document.getElementById("instagram");
      if (instagram) {
        instagram.addEventListener("click", function () {
          window.open("https://instagram.com");
        });
      }
      
      var linkedin = document.getElementById("linkedin");
      if (linkedin) {
        linkedin.addEventListener("click", function () {
          window.open("https://www.linkedin.com/");
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
    
    <script src="js/deleteDoc-input.js"></script>
      <script src="js/upload-backend.js"></script>
      <script src="js/hamburger.js"></script>
      <script>

        const notificationContainer = document.getElementById('notification-toast');
 
        const message = '<%= message %>';
        const messageType ='<%= messageType %>';
  
         if (message) {
         const notification = document.createElement('div');
         notification.classList.add('notification', messageType);
  
         const icon = document.createElement('span');
         icon.classList.add('notification-icon');
         if (messageType === 'success') {
         icon.innerHTML = '&#10003;'; // checkmark icon
         } else if (messageType === 'error') {
         icon.innerHTML = '&#10007;'; // cross icon
        }
        notification.appendChild(icon);
  
       const messageText = document.createElement('span');
        messageText.innerText = message;
        notification.appendChild(messageText);
  
    notificationContainer.appendChild(notification);
  
    setTimeout(() => {
      notification.classList.remove('slide-up');
      notification.classList.add('slide-down');
      setTimeout(() => {
        notificationContainer.removeChild(notification);
      }, 300);
    }, 5000);
  }


      </script>
      <script>
        const mainMenu = document.querySelector('.mainMenu');
        const closeMenu = document.querySelector('.closeMenu');
        const openMenu = document.querySelector('.openMenu');
        const menu_items = document.querySelectorAll('nav .mainMenu li a');




        openMenu.addEventListener('click',show);
        closeMenu.addEventListener('click',close);

        // close menu when you click on a menu item 
        menu_items.forEach(item => {
            item.addEventListener('click',function(){
                close();
            })
        })

        function show(){
            mainMenu.style.display = 'flex';
            mainMenu.style.top = '0';
        }
        function close(){
            mainMenu.style.top = '-100%';
        }
      </script>
  </body>
</html>
